<%= form_with(model: budget, url: group_budgets_path) do |form| %>
  <% if budget.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(budget.errors.count, "error") %> prohibited this budget from being saved:</h2>

      <ul>
        <% budget.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :name, class: "input", value: '', placeholder: 'Transaction name' %>
  </div>

  <div class="field">
    <%= form.text_field :amount, class: "input", placeholder: 'Money spent' %>
  </div>

  <div class="checkbox">
    <%= form.collection_check_boxes :groups, Group.all, :id, :name do |c| %>
      <% if c.value == @group.id %>
        <%= c.check_box(checked: true, class: "locked") + c.text %>
      <% else %>
        <%= c.check_box + c.text %>
      <% end %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit 'Save' %>
  </div>
<% end %>
