<%= form_with(model: budget) do |form| %>
  <% if budget.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(budget.errors.count, "error") %> prohibited this budget from being saved:</h2>

      <ul>
        <% budget.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.text_field :name, class: "input", value: '', placeholder: 'Transaction name' %>
  </div>

  <div>
    <%= form.text_field :amount, class: "input", placeholder: 'Money spent' %>
  </div>

  <div>
    <%= form.collection_check_boxes :groups, Group.all, :id, :name %>
  </div>

  <div>
    <%= form.submit 'Save' %>
  </div>
<% end %>
