<section id="list">
  <p style="color: green"><%= notice %></p>

  <header>
    <%= render "shared/back_button", path: groups_path %>
    <h1>Transactions</h1>
  </header>

  <div id="group-info">
    <p><%= @group.name %></p>
    <p>$ <%= @group.total_price %></p>
  </div>

  <div id="transactions">
    <%= render "transactions", transactions: @group.transactions_list %>
  </div>

  <div id="new-item">
    <%= link_to "NEW TRANSACTION", new_group_budget_path(@group), id:"new-item__button" %>
  </div>
</section>
