<section>
  <p style="color: green"><%= notice %></p>

  <header>
    <h1>TRANSACTIONS</h1>
  </header>

  <div>
    <p><%= @group.name %></p>
    <p>$ <%= @group.total_price %></p>
  </div>

  <%= render "transactions", transactions: @group.transactions_list %>

  <%= link_to "NEW TRANSACTION", new_budget_path %>
</section>
